<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
var numberOfPage=0;
var returnHtml="";


//there are 5-8 type of questions:
//each via a function for their html:
 //txt to html method:(or jason to html)
 function txtToHtmlFunction(txt){
	 //alert(txt);
	 //question type 1:
	 if(txt=="1")
	 {    returnHtml="type1 "+txt;}
	 if(txt=="2")
	 {    returnHtml="type2 "+txt;}
	 if(txt=="3")
	 {    returnHtml="type3 "+txt;}
	 if(txt=="4")
	 {    returnHtml=questionType4(txt);}
	  if(txt=="8")
	 {    returnHtml=questionType8(txt);}
	 return "----------------------------------------------------------------"+returnHtml;
 }
  //txt to html method:(or jason to html)

//for complicated question model:
 function questionType4(txt){
	 var Type4returnHtml="type 4 nest 08131203 "+txt
	 return Type4returnHtml;
 }

//for complicated question model:
  function questionType8(txt){


	  var HtmlTemplateString= getHtmlTemplateString();
	 return txt+HtmlTemplateString;
 }


//get the html template such as radio, pictures forms, etc...
function getHtmlTemplateString() {
	return $.ajax({
		url: "test.txt",
		async: false
	}).responseText
}



	
	//var urlTest1="1.html";
$(document).ready(function(){
	
    $("#clickTest").click(function(){
		
		//url change method: url is changed by click button
		 numberOfPage++;
		 var urlForData= ""+numberOfPage+".txt";
		
		
		//now it is using txt file, it will be changed to using restful url:
        $.ajax({url: urlForData, 
		dataType: "text",
		success: function(result){
			
			//get html from raw data such as txt or json:
			 var txtToHtml=    txtToHtmlFunction(result);
			
			//show finial content from html:
            $("#questions-main-body").html(txtToHtml );
        }});
    });
});
</script>
</head>
<body>

<div id="questions-main-body"><h2>Let jQuery AJAX Change This Text</h2>
    </div>


</body>
</html>