<!doctype html>
<html>
<head>
    <meta charset="utf-8">
     

    <title>page 6</title>

     
</head>

<body>

<div id="pills">
<div style="float:left;width:25%">
    <img src="source/img/placetaking.png" class="img-responsive  " alt="pills" style="width:204px;height:auto;">
</div>

<div style="float:left;width:50%">
<img src="source/img/Pills-white.png" class="img-responsive  center-block" alt="pills" style="width:204px;height:auto;">
</div>

<div style="float:left;width:25%;">
    <img src="source/img/placetaking.png" class="img-responsive  " alt="pills" style="width:204px;height:auto;">
</div>
</div>

 
 


 <div id="hi">
<div style="float:left;width:33%">
    <img src="source/img/placetaking.png" class="img-responsive  " alt="pills" style="width:50px;height:10%;">
</div>

<div style="float:left;width:33%">
    <img src="source/img/placetaking.png" class="img-responsive center-block  " alt="pills" style="width:50px;height:10%;">
</div>

<div style="float:left;width:33%;">
    <img src="source/img/hi.png" class="img-responsive" alt="hi" style="width:50px;height:10%;">
</div>
</div>


<div id="text">
<div style="float:left;width:1%">
    <img src="source/img/placetaking.png" class="img-responsive  " alt="pills" style="width:204px;height:auto;">
</div>

<div style="float:left;width:98%">
    <img src="source/img/textpage6.png" class="img-responsive center-block  " alt="pills" style="width:600px;height:auto;">
</div>

<div style="float:left;width:1%;">
    <img src="source/img/placetaking.png" class="img-responsive  " alt="pills" style="width:204px;height:auto;">
</div>
</div>


<!--div   class="  col-xs-8 col-xs-offset-2   "  >
<img class="img-responsive     " src="source/img/Pills-white.png"  alt=""style="width:204px;height:auto;" />
</div>

<div    class="  col-xs-12   "   >
<img class="img-responsive     " src="source/img/textpage6.png"  alt="" style="width:204px;height:auto;" />
</div-->

<!--div class="   col-xs-12     ">
<div class="align-txt">Des médicaments vous sont-ils actuellement prescrits pour contrôler votre tension artérielle ou un problème cardiaque (par exemple, des diurétiques)?</div-->
 
</body>
</html>
