<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<div class="align-txt">Avez-vous des problèmes osseux ou articulaires (par exemple, au dos, au genou ou à la hanche) qui pourraient s’aggraver par une modification de votre niveau de participation à une activité physique?</div>
<div   col-xs-4 col-xs-offset-2 >
<img class="img-responsive  col-xs-4 col-xs-offset-4   " src="source/img/HurtMan.png" width="600" height="600" alt=""/>
</div>
</body>
</html>
